/* flex direction example */
/* @media (max-width: 950px) {
    .block-flex {
        flex-direction: column;
        align-items: center;
    }
    .block {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .block:nth-child(1) {
        background-color: red;
    }
    .block {
        height: 350px;
    }
} */

/* flex-wrap */
/* @media (max-width: 400px) {
    .block {
        margin-bottom: 30px;
    }
    .block-flex {
        justify-content: center;
    }
} */

/* % example */
@media (max-width: 800px) {
    .block {
        width: 45%;
    }
    .block-flex {
        height: auto;
    }
}
@media (max-width: 480px) {
    .block {
        width: 100%;
    }
}


@media (max-width: 1200px) {
    .section-wraper-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .burger-icon {
        display: block;
    }
    .logo {
        max-width: 180px;
    }
}

@media (max-width: 600px) {
    .block:nth-child(1) {
        background-color: yellow;
    }
}